[Desktop Entry]
Name=Scratchpad
Comment=Scratchpad for when you need to edit/note snippets
Exec=scratchpad-launcher.sh
Icon=me.karnwong.Scratchpad
Terminal=false
Type=Application
Categories=GNOME;GTK;Utility;
StartupWMClass=me.karnwong.Scratchpad
